@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #FAFAFA;
}
.container {
    display: flex;
}
.start-baner {
    background-color: #C241FE;
    width: 26.25rem;
    height: 43.725rem;
}
.screen {
    background-color: hsl(270, 20%, 96%);
    padding: 0.75rem;
    border-radius: 1.75rem;
    width: 15.5rem;
    position: relative;
    left: -3.5rem;
    /* top: 9.25rem; */
}
.screen-notch {
    background-color: hsl(270, 20%, 96%);
    width: 8rem;
    height: 1.5rem;
    text-align: center;
    margin: auto;
    border-radius: 1rem;
    position: relative;
    top: -0.5rem;
}
.person-details {
    background-color: #C241FE;
    border-top-right-radius: 1.125rem;
    border-top-left-radius: 1.125rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 0 0.75rem 0.75rem 0.75rem;
    color: #FFFFFF;
}
.person-info {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.person-details img {
    width: 1.5rem;
    border: 0.125rem solid #FFFFFF;
    border-radius: 2rem;
}
.person-name h1 {
    font-size: 0.75rem;
}
.person-name p {
    font-size: 0.5rem;
}
